<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="shop.goodstudy.mall.example.member.mapper.MemberRolesMapper">

	<select id="findByMemberId" resultType="String">
		SELECT 
			ROLE_CODE
		FROM MEMBER_ROLES
		WHERE MEMBER_ID = #{memberId}
	</select>
	
</mapper>