<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="shop.goodstudy.mall.product.mapper.ProductMapper">

    <select id="selectProductByPrdNo" resultType="product">
        SELECT PRD_NO
              ,PRD_DIV_CD
              ,PRD_TYP_CD
              ,PRD_STAT_CD
              ,SALE_STRT_DTIME
              ,SALE_END_DTIME
              ,PRD_NM
              ,MIN_QTY
              ,MAX_QTY
              ,REG_ID
              ,REG_DTIME
              ,MOD_ID
              ,MOD_DTIME
          FROM shops.GD_PRD_BASE_INFO
         WHERE PRD_NO = #{prd_no}
    </select>

    <select id="selectAllProduct" resultType="product">
        SELECT product_id
              ,product_name
              ,product_state
              ,product_price
              ,reg_id
              ,reg_dt
          FROM shops.product
    </select>

    <insert id="addProduct" parameterType="Product" useGeneratedKeys="true" keyProperty="product_id">
      INSERT INTO shops.product (
             product_name
            ,product_state
            ,product_price
            ,reg_id
            ,reg_dt
      ) VALUES (
             #{product_name}
            ,#{product_state}
            ,#{product_price}
            ,#{reg_id}
            ,sysdate()
      )
    </insert>
    
    <insert id="insertImage" parameterType="Image">
      INSERT INTO shops.product_image (
             physical_name
            ,image_name
            ,imagefile
            ,product_id
      ) VALUES (
             #{physical_name}
            ,#{image_name}
            ,#{imagefile}
            ,#{product_id}
      )
    </insert>
    
    <select id="mainImageDown" resultType="Image">
        SELECT image_id
              ,physical_name
              ,image_name
              ,imagefile
          FROM shops.product_image
         WHERE product_id = #{product_id}
         LIMIT 1
    </select>

</mapper>