<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="shop.goodstudy.mall.cart.mapper.CartMapper">

	<insert id = "create" parameterType = "cart">
		INSERT INTO cart(CUSTOMER_ID, PRODUCT_ID, RG_DATE, ORDER_QUANTITY, PRODUCT_PRICE, PRODUCT_NAME, TOTAL_PRICE) 
		VALUES (#{customer_id}, #{product_id}, NOW(), #{order_quantity},#{product_price},#{product_name}, #{total_price})
	</insert>
	
	<select id = "getList" parameterType = "String" resultType = "cart">
		SELECT 
		* FROM cart
		WHERE CUSTOMER_ID = #{customer_id}
	</select>
	
	<delete id = "delete" parameterType = "cart">
		DELETE FROM cart WHERE CUSTOMER_ID = #{customer_id} AND PRODUCT_ID = #{product_id}
	</delete>
	
	<update id = "updateCount" parameterType = "cart">
		UPDATE cart SET ORDER_QUANTITY = #{order_quantity}, TOTAL_PRICE = #{order_quantity} * PRODUCT_PRICE
		WHERE CUSTOMER_ID = #{customer_id} AND PRODUCT_ID = #{product_id} 
	</update>
	
	<select id = "checkExist" parameterType="cart" resultType="int">
		SELECT
		COUNT(*)
		FROM cart
		WHERE CUSTOMER_ID = #{customer_id} AND PRODUCT_ID = #{product_id}
	</select>
	
	<update id="updateChecked" parameterType="cart">
		UPDATE cart SET CHECKED = 1
		WHERE CUSTOMER_ID = #{customer_id} AND PRODUCT_ID = #{product_id} 
	</update>
	
	<select id="getChecked" parameterType="String" resultType="cart">
		SELECT * FROM cart WHERE CUSTOMER_ID = #{customer_id} AND CHECKED = 1
	</select> 

	<delete id="deleteOrdered" parameterType="java.util.List">
		DELETE FROM cart 
		<foreach collection="list" item="cart_id">
		WHERE CART_ID = #{cart_id}
		</foreach>
	</delete>

</mapper>