<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="shop.goodstudy.mall.order.mapper.CouponMapper">

	<select id="selectAllCoupon" resultType="coupon" parameterType="String">
		select coupon_name,
			   customer_id,
			   discount,
			   discount_type,
			   valid_date,
			   status 
		from mall.coupons a
		where customer_id = #{customer_id}
	</select>

	<insert id="insertCoupon" parameterType="coupon">
		insert into mall.coupons ( coupon_name, customer_id, discount, discount_type, valid_date, status  ) 
		values ( #{coupon_name}, #{customer_id}, #{discount}, #{discount_type}, DATE_FORMAT( date_add(now(), interval 1 month), '%Y%m%d' ), 'Y')
	</insert>
</mapper>